.contact-info {
  border-top-left-radius: 50px !important;
}

.contact-info ul {
  list-style-type: none;
  padding: none;
}

.contact-info i {
  padding-right: 25px;
  font-size: 25px;
}
.contact-info a {
  text-decoration: none;
}

.check-disabled a {
  pointer-events: none;
}

.fa-location-dot {
  background: linear-gradient(to bottom, #10B981 );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-envelope{
    color : #3B82F6;
}

.fa-phone {
    color : #22C55E;
}